@charset "UTF-8";
@import "ex/_common.pcss";

body > header {
  height: 45px;
  margin: 18px auto;
  display: flex;
  align-items: center;
  & h1 {
    height: 45px;
  }
  & ul {
    height: 45px;
    display: flex;
    align-items: center;
    & li {
      display: inline-block;
    }
  }
}
